.heading {
    font-size: 40px;
    color: #00aaa8;
}

body {
    margin: 0px;
    background-image: url("todo.jpg");
    height: 100%;
    width: 100%;
    color: #00aaa8;
}

h3 {
    /*font-size: 2em;*/
    color: #00aaa8;
    margin-left: 20px;
    display: inline-block;
}

h5 {
    display: inline-block;
    font-size: 1em;
    color: azure;
    margin-left: 20px;
    height: 50px;
}

p {
    width: 100%;
    height: 100px;
}

ol {
    font-size: 20px;
}

li {
    margin: 0px;
    padding: 0px;
    height: 100px;
}

.header {
    padding: 30px 40px;
    color: white;
    text-align: center;
}


.addBtn {
    padding: 10px;
    width: 25%;
    color: #00aaa8;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: 1px solid #00aaa8;
}

input {
    margin: 0;
    border-radius: 0;
    width: 30%;
    padding: 10px;
    float: left;
    font-size: 16px;
    border: 1px solid #00aaa8;
    background-color: inherit;
    color: #00aaa8 !important;
}
